body.page-template-about {

	section#hero {

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			.headline {
				width: 100%;
				padding-bottom: 30px;
				margin: 0 auto;
				text-align: center;
				max-width: 100%;

				@include tablet-landscape {
					padding-bottom: 60px;
				}


				h1 {
					line-height: 1.25em;
					font-size: 1.125em;

					br {
						display: none;
					}

					@include mobile-landscape {
						font-size: 1.25em;

						br {
							display: block;
						}
					}

					@include tablet-portrait {
						font-size: 1.75em;
					}

					@include desktop {
						font-size: 2em;
					}
				}




			}

		}
	}

	section.content {
		font-family: $averta;

		h3 {			
			font-weight: 100;
			font-size: 1.5em;
			padding: 0 0 10px 0;

			@include tablet-portrait {
				font-size: 2.25em;
				padding: 0 0 25px 0;
			}

			@include desktop {
				font-size: 3em;
			}
		}

		p {
			font-size: 1em;
			line-height: 1.5em;

			@include desktop {
				font-size: 1.125em;
			}
		
			& + p {
				padding: 25px 0 0 0;
			}
		}
	}

	section#about-just-wealth {
		background: #F5F5F5;
		color: $dark-blue;
		padding: 0 0 50px 0;
		border-bottom: 5px solid $dark-blue;

		@include tablet-portrait {
			padding: 0 0 100px 0;
		}


		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			& > div {
				width: 100%;

				@include tablet-portrait {
					width: 50%;

					h3 {
						text-align: center;

						strong {
							color: $goldenrod;
							font-weight: 900;
						}
					}
				}
			}

			.logo {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 50px 0 0 0;

				img {
					max-width: 185px;
				}
			}

			p strong em {
				font-style: normal;
				font-size: 1.25em;
				color: $dark-blue;
				font-weight: 900;
			}

			h4 {
				text-align: center;
				padding: 25px 0 0 0;
				font-weight: bold;
				font-size: 1.375em;
			}
		}
	}

	section#about-heide {
		display: flex;
		flex-wrap: wrap;

		& > div {
			width: 100%;

			@include tablet-portrait {
				width: 50%;
			}
		}

		.info {
			padding: 50px 25px;

			@include tablet-portrait {
				padding: 50px;
				display: flex;
				align-items: center;

				.info-wrapper {
					max-width: 600px;
				}
			}

			@include desktop {
				padding: 100px;
			}

			h3 {
				strong {
					color: $goldenrod;
					font-weight: 900;
				}				
			}
		}

		.photo {
			@include aspect-ratio(4,3);
		}

	}


	section#hero {

		section#call-out {
			.header {
				@include tablet-portrait  {
					width: 40%;
				}
				.key {
					font-size: 1em;
					order: -1;
					margin: 0 20px 0 0;
				}
			}
			
			@include tablet-portrait  {
				.deck {
					width: 60%;
				}
			}					
		}
	
	}


	
}