section#blog-header {
	text-align: center;
	padding: 25px 0 50px 0;
	
	h1 {
		font-family: $bahagia;
		font-size: 4em;

		@include tablet-portrait {
			font-size: 5.5em;
		}
	}
}

section#posts {

	.posts-wrapper {
		display: flex;
		flex-wrap: wrap;

		article {
			width: 100%;
			padding: 0 0 50px 0;

			@include tablet-portrait {
				width: 50%;
				padding: 0 20px 50px 20px;
			}

			@include desktop {
				width: 33.3333%;
			}

			.info {
				background: $white;
				padding: 40px;
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
				transform: translate(20px, -40px);

				h5 {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-weight: 400;
					color: #83818C;
					padding: 0 0 5px 0;
				}

				h3 {
					font-size: 1.5em;
					line-height: 1.25em;
					padding: 0 0 10px 0;
					font-weight: 700;

					a {
						color: $dark-blue;
					}
				}

				p {
					font-size: 1em;
					line-height: 1.375em;
					padding: 0 0 20px 0;
				}

				a.underline {
					font-size: 0.8125em;
				}


			}
		}
	}

}