body.page-template-contact {

	section#contact-info {
		text-align: center;
		padding: 0 0 100px 0;

		.field + .field {
			padding: 75px 0 0 0;
		}


		h5 {
			font-weight: 700;
			display: inline-block;
			border-bottom: 2px solid;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			margin: 0 0 20px 0;

		}

		p {
			font-size: 1.125em;
			line-height: 1.25em;
			font-family: $averta;
			display: flex;
			justify-content: center;
			align-items: center;

			@include tablet-portrait {
				font-size: 1.5em;
			}

			a {
				color: $slate;
				
				&:hover {
					text-decoration: underline;
				}
			}

			&:before {
				display: block;
				content: '';
				margin: 0 20px 0 0;
			}
		}

		.field.phone p:before {
			background: url(images/icon-phone.svg);
			width: 47px;
			height: 48px;
		}

		.field.email p:before {
			background: url(images/icon-email.svg);
			width: 52px;
			height: 48px;
		}

		.field.address p:before {
			background: url(images/icon-address.svg);
			width: 34px;
			height: 48px;
		}
	}

	section#schedule {
		background: #fafafa;
		padding: 75px 0;
		border-top: 5px solid $dark-blue;

		@include tablet-portrait {
			padding: 125px 0;
		}

		.header {
			text-align: center;

			h5 {
				font-weight: 700;
				display: inline-block;
				border-bottom: 2px solid;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				margin: 0 0 40px 0;

			}
		}


		.wpforms-container {
			max-width: 480px;
			margin: 0 auto;
			font-family: $averta;

			.wpforms-form .wpforms-field {
				padding: 15px 0;
			}

			input {
				font-family: $averta;

				&[type="email"],
				&[type="tel"] {
					max-width: 100%;
				}
			}

			.wpforms-form .wpforms-field-row.wpforms-field-medium {
				max-width: 100%;
			}

			button.wpforms-submit  {
				background: $goldenrod;
				color: $white;
				border: none;
				font-family: $averta;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.875em;
				padding: 15px 20px 13px;
			}

		}



	}

	section#map {

		a {
			display: block;

			span.map-image {
				display: block;
				@include aspect-ratio(16,6);
			}
		}

	}

	section#hero {

		section#call-out {
	
			.header {
				width: 100%;
				padding: 0 0 25px 0;

				h2 {
					justify-content: center;

				}

				.value {
					font-size: 2em;
				}

				.key {
					order: -1;
					margin: 0 20px 0 0;
				}
			}

			.deck {
				width: 100%;
				border-top: 2px solid $slate;
				border-left: none;
			}		

		}

	}

	@include tablet-landscape  {
		section#hero {

			section#call-out {
				.header {
					width: 52.5%;
					padding: 0;

					h2 {
						justify-content: flex-start;
					}

					.value {
						font-size: 2.5em;
					}

					.key {
						font-size: 1em;
						

					}
				}

				.deck {
					width: 47.5%;
					border-left: 2px solid $slate;
					border-top: none;

				}					
			}
		
		}
	}
	
}

.ui-timepicker-list li,
.flatpickr-calendar.open {
	font-family: $averta;
}