footer {
	background: $dark-blue;
	color: $white;
	padding: 50px 0;

	@include tablet-landscape {
		padding: 100px 0;
	}

	.footer-nav {
		counter-reset: nav-counter;

		.logo {
			img {
				max-width: 185px;
				margin: auto;
			}		
		}

		a {
			counter-increment: nav-counter;
			order: nav-counter;
			color: rgba(255, 255, 255, 0.4);
			font-family: $averta;
			font-weight: 100;
			text-transform: uppercase;
			font-size: 0.6875em;
			letter-spacing: 0.05em;
			display: block;
			text-align: center;
			padding: 10px 0;

			&:hover {
				color: rgba(255, 255, 255, 0.9);
			}
		}

		@include tablet-landscape {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			a {
				padding: 0 8px;

				&.logo {
					width: 100%;
					margin: 0 0 20px 0;
				}

			}
		}

		@include desktop {
			a {
				padding: 0 15px;
			}

		}
	}

	.disclaimer {
		text-align: center;
		padding: 50px 0 0 0;
		max-width: 720px;
		margin: 0 auto;

		p {
			font-size: 0.875em;
			line-height: 1.375em;
			color: rgba(255, 255, 255, 0.4);
			font-weight: 100;
		}
	}

}