body.page-template-get-started {


	section#hero {
		section#call-out {
			.header {
				@include tablet-portrait {
					width: 50%;
				}

				h2 {
					.key {
						order: -1;
						margin: 0 25px 0 0;
					}

					.value {
						

						@include tablet-portrait {
							font-size: 1.75em;
						}

						@include tablet-landscape {
							font-size: 3em;
							transform: translateY(-15px);
						}
						
					}
				}
			}

			.deck {
				@include tablet-portrait {
					width: 50%;
				}
			}
		}	
	}


	section.content {
		padding: 75px 0;

		@include tablet-portrait {
			padding: 125px 0;
		}

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		.info {
			width: 100%;

			@include tablet-landscape {
				width: 50%;
				padding: 0 40px 0 0;
			}

			h3 {			
				font-weight: 100;
				font-size: 1.75em;
				padding: 0 0 10px 0;

				@include tablet-portrait {
					font-size: 2.25em;
					padding: 0 0 25px 0;
				}
			}

			p {
				font-size: 1em;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			
				& + p {
					padding: 25px 0 0 0;
				}
			}
		}

		.illustration {
			width: 100%;

			@include tablet-landscape {
				width: 50%;
			}
		}
	}


	section#get-started-steps {
		.info {
			margin: 0 auto;
			padding: 50px 0 0 0;
			width: 100%;
			max-width: 560px;
		}

		h3 {
			text-align: center;
			font-weight: bold;
			padding-bottom: 50px;
		}

		.items {
			margin: 0 auto;
			counter-reset: item-counter;

			.item {
				counter-increment: item-counter;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				font-family: $averta;

				&:before {
					content: counter(item-counter);
					font-size: 1.25em;
					font-weight: bold;
					padding: 10px 12px;
					min-width: 16px;
					border: 2px solid $goldenrod;
					color: $goldenrod;
					text-align: center;
					border-radius: 50%;
					margin: 0 20px 0 0;
					display: block;
				}

				& + .item {
					padding: 50px 0 0 0;
				}
				
			}

			p {
				font-size: 1.125em;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 1.25em;
				}

				strong {
					font-weight: bold;
				}

				a {
					font-weight: bold;
					text-decoration: underline;
				}
			}

			.copy {
				flex: 1;
			}

			.image {
				max-width: 120px;				
				margin: 0 0 0 20px;

				@include tablet-portrait {
					max-width: 180px;
				}
			}
		}
	}
}