header {
	padding: 30px 0;

	@include tablet-portrait {
		padding: 30px 0 60px 0;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;

		@include tablet-portrait {
			padding: 0;
		}
	}

	.logo {
		img {
			max-width: 220px;
		}

		.phone {
			padding: 10px 0 0 0;

			p {
				display: flex;
				align-items: center;
				font-family: $averta;
				font-size: 0.875em;
				letter-spacing: 0.05em;
				color: $purple;

				&:before {
					display: block;
					content: '';
					background: url(images/icon-phone.svg);
					width: 18px;
					height: 18px;
					background-size: 100%;
					margin: 0 10px 0 0;
					transform: translateY(1px);
				}
			}
		}

	}


	#toggle {
		width: 40px;
	    cursor: pointer;
	    padding: 8px 0;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);

		.patty {
		    width: 40px;
		    height: 3px;
		    background: $purple;
		    border-radius: 2px;
		    transition: all 0.3s;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 40px;
			    height: 3px;
			    background: $purple;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			    border-radius: 2px;
			}
			&:before {
			    top: -8px;
			}
			&:after {
			    top: 8px;
			}
		}
	}

	&.open {
		z-index: 10001;

		#toggle .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			}
		}

	}


}

nav {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: rgba(255, 255, 255, 0.97);
	padding: 120px 0 0 0;
	transition: opacity 0.35s ease-in;

	@include tablet-portrait {
		padding: 160px 0 0 0;
	}

	&.open {
		opacity: 1;
		z-index: 1000;

		#nav-links {
			.nav-link {
				transform: translateX(0) !important;

				@include tablet-portrait {
					opacity: 1;
					transition: opacity 1s ease;
					transition: transform 0.1s ease;
				}
			}
		}
	}


	.wrapper {
		padding: 0 30px;



		@media screen and (min-width: 1250px) {
			padding: 0;
		}		
	}


	#nav-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.nav-link {
			width: 100%;
			margin: 10px 0;

			a {
				color: $purple;
				text-transform: uppercase;
				justify-content: center;
				align-items: center;
				display: flex;
				padding: 20px 0 17px;
				border: 1px solid $goldenrod;
				line-height: 1em;
				font-family: $averta;
				font-weight: 700;
				letter-spacing: 0.05em;


					&:hover {
						background: $goldenrod;
						color: $white;
					}
			}

			&.guidebook {
				a {
					text-transform: none;
					letter-spacing: 0;
					font-family: $bahagia;
					font-size: 1.75em;
					font-weight: 400;
					padding: 19px 0 12px 0;

					&.inactive {
						flex-wrap: wrap;
						flex-direction: column;

						 span {
							display: block;
							width: 100%;
							text-align: center;
							font-family: $averta;
							font-size: 0.35em;
							text-transform: uppercase;
							color: $purple;
							font-weight: 700;
							letter-spacing: 0.05em;
							line-height: 1em;
						}
					}

					@include tablet-portrait {
						font-size: 2.5em;
						padding: 15px 0 0 0;
					}

				}
			}
		}

		@include tablet-portrait {

			.nav-link {
				margin: 0 0 10px 0;
				opacity: 0;

				a {
					border-width: 2px;
					height: 175px;
				}

				&.portfolio-checkup,
				&.investment-consulting {
					width: calc(50% - 5px);
				}

				&.get-started,
				&.about,
				&.guidebook,
				&.contact {
					width: calc(25% - 10px)
				}

				&.portfolio-checkup {
					order: 1;
					transform: translateX(-500px);
					transition: all 1.25s ease;

					a {
						color: $white;
						border-color: $purple;
						background: $purple;
					}


				}

				&.investment-consulting {
					order: 2;
					transform: translateX(-1000px);	
					transition: all 1s ease;

					a {
						color: $white;
						border-color: $goldenrod;
						background: $goldenrod;
					}

				}

				&.get-started {
					order: 3;
					transform: translateX(-100px);	
					transition: all 1.25s ease;


					a {
						color: $white;
						border-color: $goldenrod;
						background: $goldenrod;

					}
				}

				&.about {
					order: 4;
					transform: translateX(-333px);	
					transition: all 1.25s ease;


					a {
						color: $white;
						border-color: $purple;
						background: $purple;
					}
				}

				&.guidebook {
					order: 5;
					transform: translateX(-666px);	
					transition: all 1.125s ease;

					a {
						color: $goldenrod;
					}
				}

				&.contact {
					order: 6;
					transform: translateX(-1000px);	
					transition: all 1s ease;

					a {
						color: $white;
						border-color: $purple;
						background: $purple;
					}
				}
			}

		}

	}

	#nav-contact-info {
		display: flex;
		flex-wrap: wrap;
		font-family: $averta;
		padding-top: 25px;


		.field {
			width: 100%;
			display: flex;
			align-items: center;

			@include tablet-portrait {
				width: 33.3333%;
			}

			@include tablet-landscape {
				justify-content: center;
			}

			& + .field {
				margin-top: 25px;

				@include tablet-portrait {
					margin-top: 0;
				}
			}

			p {
				display: flex;
				align-items: center;
				justify-content: center;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 0.875em;
				}

				@include tablet-landscape {
					font-size: 1em;
				}
			}

			p:before {
				display: block;
				content: '';
				margin: 0 20px 0 0;
				width: 36px;
				height: 48px;
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center center;
			}

			&.phone p:before {
				background-image: url(images/icon-phone.svg);
			}

			&.email p:before {
				background-image: url(images/icon-email.svg);
			}

			&.address p:before {
				background-image: url(images/icon-address.svg);
			}

			a {
				color: $slate;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}


}