body.home {

	section#hero {

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			.headline {
				width: 100%;
				padding-bottom: 30px;
				margin: 0 auto;
				text-align: center;
				max-width: 520px;

				@include tablet-portrait {
					max-width: 960px;
				}

				@include tablet-landscape {
					padding-bottom: 60px;
				}

				h1 {
					line-height: 1.25em;
					font-size: 1.125em;

					br {
						display: none;
					}

					@include mobile-landscape {
						font-size: 1.25em;

						br {
							display: block;
						}
					}

					@include tablet-portrait {
						font-size: 1.6125em;
					}

					@include tablet-landscape {
						font-size: 2em;
					}

					@include desktop {
						font-size: 2.375em;
					}
				}
			}

		}
	}


	section#about-statement {
		background-image: url(images/topo-bg.jpg);
		padding: 200px 0 50px 0;

		@include tablet-portrait {
			padding: 150px 0 75px 0;
		}

		.wrapper {
			max-width: 960px;
		}

		p {
			max-width: 1080px;
			margin: 0 auto;
			font-size: 1.125em;
			text-align: center;
			line-height: 1.5em;

			& + p {
				padding: 25px 0 0 0;
			}

			@include tablet-portrait {
				font-size: 1.5em;
			}

			strong {
				color: $goldenrod;
			}

			em {
				font-style: normal;
				font-weight: bold;
				color: $dark-blue;
			}
		}
	}

	section#what-we-do {
		padding: 75px 0;
		background: $white;
		border-top: 5px solid $dark-blue;

		.wrapper {
			max-width: 720px;
		}

		table {
			margin: 25px 0 0 0;
			font-family: $averta;
			font-size: 0.8125em;


			thead th {
				background: none;
				font-weight: 900;
				padding: 20px 20px;
				font-size: 1.25em;
				text-align: center;

				@include mobile-landscape {
					font-size: 2em;
				}

				&.column-2 {
					border-left: 2px solid $purple;
				}
			}

			tbody {
				tr:nth-child(odd) {
					background: #DCDAE9;;
				}

				td {
					background: none;
					padding: 20px;
					font-size: 1em;
					line-height: 1.25em;
					width: 50%;
					text-align: center;
					vertical-align: middle;

					@include mobile-landscape {
						font-size: 1.125em;
					}

					&.column-2 {
						border-left: 2px solid $purple;
					}
				}
			}

			tr.row-2 td {
				border-top: 2px solid $slate;
			}
		}

	}

	section#about {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px; // While blog is hidden

		& > div {
			width: 100%;

			@include tablet-portrait {
				width: 50%;
			}
		}

		.photo {
			@include aspect-ratio(1,1);
		}

		.info {
			padding: 50px;
			display: flex;
			align-items: center;
			background: #eee;
			color: $purple;

			@include tablet-portrait {
				padding: 50px;
			}

			@include desktop {
				padding: 100px;
			}

			.info-wrapper {
				max-width: 600px;
			}

			h3 {
				font-weight: 100;
				font-size: 1.5em;
				padding: 0 0 10px 0;

				@include tablet-portrait {
					font-size: 2.25em;
					padding: 0 0 20px 0;
				}

			}

			p {
				font-size: 1.25em;
				line-height: 1.5em;
				padding: 0 0 25px 0;
			}


		}
	}

	section#blog-header {
		border-top: 5px solid $dark-blue;
		padding: 75px 0 50px 0;

		@include tablet-landscape {
			padding: 100px 0 50px 0;
		}
	}

	section#posts {
		padding: 0 0 5px 0;

		@include tablet-landscape {
			padding: 0 0 30px 0;
		}
	}

}