body.page-template-investment-consulting {

	@include tablet-portrait  {
		section#hero {
			section#call-out {
				.header {
					width: 45%;

					.key {
						font-size: 1em;
					}
				}

				.deck {
					width: 55%;
				}
			}
		
		}
	}

	section.content {
		padding: 75px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		.header {
			width: 100%;
			padding: 0 0 25px 0;

			@include tablet-portrait {
				padding: 0 0 50px 0;
			}

			h5 {

			}

			h3 {			
				font-size: 1.25em;
				font-weight: 400;
				font-style: italic;
				line-height: 1.25em;


				strong {
					display: block;
					font-size: 1.25em;
					font-weight: 900;
					padding: 0 0 10px 0;
					color: $purple;
					font-style: normal;

					@include tablet-portrait {
						font-size: 1.75em;
					}
				}

				@include tablet-portrait {
					font-size: 1.5em;
					max-width: 80%;
				}
			}

		}

		.info {
			width: 100%;

			@include tablet-landscape {
				width: 50%;
				padding: 0 40px 0 0;
			}


			p {
				font-size: 1em;
				line-height: 1.5em;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			
				& + p {
					padding: 25px 0 0 0;
				}
			}
		}

		.illustration {
			width: 100%;

			@include tablet-landscape {
				width: 50%;
			}
		}

		@include tablet-portrait {
			&:nth-child(odd) {
				.info {
					order: 2;
					padding: 0 0 0 40px;

				}

				.illustration {
					order: 1;
				}
			}		
		}


	}

	section#philosophy {
		background: #F5F5F5;
		padding: 75px 0;
		color: $dark-blue;
		border-top: 5px solid $dark-blue;

		h3 {
			font-size: 1.5em;

			@include tablet-portrait {
				font-size: 2em;
			}
		}

		@include tablet-portrait {
			padding: 100px 0;

			h3 {
				text-align: center;
				padding: 0 0 50px 0;

				strong {
					color: $goldenrod;
				}
			}
		}

		.wrapper {
			max-width: 960px;
			padding: 0 25px;

			.info {
				width: 100%;

				h4 {
					padding: 60px 0 10px 0;
					font-weight: bold;
					font-size: 1.75em;
				}

				p {
					font-size: 1.375em;
				}
			}
		}


	}


}