body.page {

	section.generic {

		.wrapper {
			max-width: 720px;
		}
		

		padding: 0 0 50px 0;

		p {
			font-size: 1.125em;
			line-height: 1.5em;
			margin: 0 0 25px 0;

			@include tablet-portrait {
				font-size: 1.25em;
			}
		}

		ul, ol {
			font-size: 1em;
			line-height: 1.75em;
			margin: 0 0 25px 45px;
			max-width: 80%;

			@include tablet-portrait {
				font-size: 1.25em;
			}

			li {

				& + li {
					padding: 20px 0 0 0;
				}

			}
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}

		blockquote {
			padding: 0 0 0 45px;
			margin: 0 0 45px 0;
			position: relative;

			p, a {
				margin: 0;
				font-weight: 300;
				font-size: 1.5em;
				font-style: italic;
				line-height: 1.5em;
				color: $goldenrod;
				text-decoration: none;

				@include tablet-portrait {
					font-size: 2.3125em;
				}
			}
		}


		h1, h2 {
			font-weight: 700;
			font-size: 1.75em;
			padding: 0 0 10px 0;
			color: $dark-blue;
		}

		h3 {
			font-weight: 700;
			font-size: 1.25em;
			padding: 0 0 10px 0;
			color: $dark-blue;
		}

		h4, h5, h6 {
			font-weight: 700;
			font-size: 1em;
			padding: 0 0 10px 0;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: $dark-blue;
		}

		div.wp-caption {
			padding: 25px 0 35px 0;

			p {
				color: #A9A9A9;
				text-align: center;
				width: 90%;
				margin: 0 auto;
				padding: 30px 0 0 0;
				font-style: italic;
			}

			img {
				width: auto !important;
				height: auto !important;
			}
		}

		a {
			text-decoration: underline;
			color: $dark-blue;
		}





	}

}