body.page-template-portfolio-checkup {

	@include tablet-portrait {
		section#hero {
			section#call-out {
				.header {
					width: 40%;
				}

				.deck {
					width: 60%;
				}
			}	
		}
	}

	section.content {
		padding: 75px 0;

		@include tablet-portrait {
			padding: 125px 0;
		}

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		.info {
			width: 100%;

			@include tablet-landscape {
				width: 50%;
				padding: 0 40px 0 0;
			}

			h3 {			
				font-weight: 100;
				font-size: 1.75em;
				padding: 0 0 10px 0;

				@include tablet-portrait {
					font-size: 2.25em;
					padding: 0 0 25px 0;
				}
			}

			p {
				font-size: 1em;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			
				& + p {
					padding: 25px 0 0 0;
				}
			}
		}

		.illustration {
			width: 100%;

			@include tablet-landscape {
				width: 50%;
			}
		}
	}

	section#them-vs-us {

		.info {
			margin: 0 auto;
			text-align: center;

			@include tablet-portrait {
				width: 75%;	
				max-width: 800px;
				padding-bottom: 50px;
			}
	
			p {
				font-size: 1.25em;
				font-weight: bold;


			}
		}

		.differences {
			padding-top: 50px;
		}

		.feature {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			& > * {
				width: 100%;
				padding: 40px;

				@include tablet-portrait {
					width: 50%;
					padding: 50px;
				}
			}

			&:nth-child(even) {
				background: #DCDAE9;
			}

			 &-header {
			 	display: none;

			 	@include tablet-portrait {
				 	border-bottom: 2px solid $purple;
				 	display: flex;

				 	h3 {
				 		font-weight: bold;
				 		text-align: center;
				 		font-size: 2em;
				 	}
			 	}
			 }

			 .us + .them {
			 	padding-top: 0;
			 }

			 @include tablet-portrait {
				 .us + .them {
				 	padding-top: 50px;
				 }

				 .them {
				 	border-left: 2px solid $purple;
				 }	
			 }

			 h4 {
			 	font-weight: bold;
			 	padding-bottom: 10px;

			 	@include tablet-portrait {
			 		display: none;
			 	}
			 }

			 p {
			 	line-height: 1.5em;
			 }
		}
	}

	section#fees {
		background: #fafafa;

		.headline {
			width: 100%;

			h3 {
				text-align: left;		
				font-weight: 400;
				font-size: 1.5em;
				padding: 0 0 25px 0;

				@include tablet-portrait {
					font-size: 2.25em;
					padding: 0 0 50px 0;
				}
			}
		}

		.illustration {
			padding: 50px 0 0 0;
			display: flex;
			justify-content: center;
			align-items: center;

			@include tablet-landscape {
				padding-top: 0;
			}

			&-wrapper {
				max-width: 480px;
				margin: auto;
			}

			h5 {
				line-height: 1.5em;
				font-weight: 600;
			}
			p {
				font-family: $averta;
				font-size: 0.875em;
				line-height: 1.5em;

				& + p {
					padding-top: 15px;
				}
			}

			table {
				margin: 25px 0;
				font-family: $averta;
				font-size: 0.8125em;

				thead th {
					background: none;
					font-weight: 900;
				}

				tbody td {
					background: none;
				}

				tr.row-2 td,
				tr.row-3 td,
				tr.row-6 td,
				tr.row-7 td {
					border-top: 2px solid $slate;
				}
				tr.row-3 td,
				tr.row-7 td {
					font-weight: bold;
					background: $goldenrod;
				} 

				tr.row-4 td.column-1,
				tr.row-5 td.column-1 {
					text-indent: 20px;
					font-style: italic;
				}
			}
		}
	}

	section#risk {
		background: $purple;
		color: $white;

		.info {
			padding: 0 25px;

			@include tablet-landscape {
				padding: 0;
			}
		}

		.cta {
			padding: 25px 0 0 0;
			.btn {
				color: $white;
				border-color: $white;
				border-width: 1px;

				&:hover {
					background: $white;
					color: $purple;
				}

				@include tablet-portrait {
					padding: 20px 30px 18px;
					font-size: 0.875em;
				}
			}
		}

		.illustration {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 50px 0 0 0;

			&-wrapper {
				max-width: 400px;
				margin: 0 auto;
			}

			@include tablet-portrait {
				order: 2;
			}

			@include tablet-landscape {
				order: -1;
				padding: 0;
			}
		}

	}

	section#diversification {
		background: #fafafa;

		.illustration {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 50px 0 0 0;

			&-wrapper {
				max-width: 500px;
				margin: 0 auto;
			}
		}
	}

	section#how-it-works {
		border-top: 5px solid $dark-blue;
	}
}