body {
	background: $white;
	border: 10px solid $white;
	min-height: 100vh;

	@include tablet-portrait {
		border: 20px solid $white;
	}
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

section#hero {
	.headline {
		padding: 0 0 30px 0;
		max-width: 90%;

		@include tablet-portrait {
			padding: 20px 0 60px 0;
			max-width: 840px;
		}


		h1 {
			font-weight: 100;
			font-size: 1.5em;

			@include tablet-portrait {
				font-size: 2.25em;
			}

			@include desktop {
				font-size: 2.75em;
			}
		}

		h2 {
			padding: 10px 0 0 0;
			font-style: italic;
			font-weight: 100;
			font-size: 1.25em;

			@include tablet-portrait {
				font-size: 1.5em;
			}
		}
	}

	.image {
		@include aspect-ratio(16, 7);
	}

	section#call-out {
		background: $white;
		padding: 25px;
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translate(-50%, 100%);
		border-radius: 2px;
		box-shadow: 0 2px 16px rgba(0, 0, 0, 0.4);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 90%;
		max-width: 800px;
		z-index: 100;

		@include tablet-portrait  {
			padding: 30px 50px;
			bottom: 0;
			transform: translate(-50%, 50%);
		}

		.header {
			width: 100%;
			text-align: center;
			padding: 0 0 10px 0;

			@include tablet-portrait {
				width: 33%;
				padding: 0 35px 0 0;
			}

			h2 {
				display: flex;
				align-items: center;
				justify-content: center;
				letter-spacing: -0.1em;

				@include tablet-portrait {
					justify-content: flex-start;
				}
			}			

			.value {
				font-family: $playfair;
				font-size: 2em;
				line-height: 1em;
				transform: translateY(-7px);

				@include tablet-portrait {
					font-size: 3em;
				}

				.symbol {
					font-size: 0.675em;
				}
			}

			.key {
				text-transform: uppercase;
				display: block;
				font-size: 1em;
				line-height: 1em;
				letter-spacing: 0.1em;
				font-weight: 100;
				padding: 7px 0 5px 0;
				border-top: 1px solid;
				border-bottom: 1px solid;
				margin: 0 0 0 25px;

				@include tablet-portrait {
					font-size: 1.125em;
					padding: 10px 0;
				}
			}
		}

		.deck {
			padding: 10px 0 0 0;
			border-top: 1px solid $slate;
			width: 100%;

			@include tablet-portrait {
				padding: 25px 0 25px 35px;
				border-left: 2px solid $slate;
				border-top: none;
				width: 66%;
			}

			p {
				font-family: $averta;
				font-size: 1em;
				line-height: 1.375em;
				text-align: center;

				@include tablet-portrait {
					font-size: 1.125em;
					text-align: left;
				}

				strong {
					font-weight: 900;
				}
			}
		}

	}

}

section.spacer {
	padding-top: 225px !important;

	@include tablet-portrait {
		padding-top: 150px !important;
	}
}

section#how-it-works {
	padding: 75px 0;

	@include tablet-portrait {
		padding: 100px 0;
	}

	.info {
		h3 {
			text-align: center;		
			font-weight: 900;
			font-size: 1.5em;
			padding: 0 0 25px 0;

			@include tablet-portrait {
				font-size: 2.25em;
				padding: 0 0 50px 0;
			}
		}

		.items {
			max-width: 480px;
			margin: 0 auto;
			counter-reset: item-counter;

			.item {
				counter-increment: item-counter;
				display: flex;
				align-items: center;
				font-family: $averta;

				&:before {
					content: counter(item-counter);
					font-size: 1.25em;
					padding: 10px 12px;
					min-width: 16px;
					border: 2px solid $goldenrod;
					color: $goldenrod;
					text-align: center;
					border-radius: 50%;
					margin: 0 20px 0 0;
					display: block;
				}

				& + .item {
					padding: 25px 0 0 0;
				}
				
			}

			p {
				font-size: 1.125em;
				line-height: 1.25em;
			}
		}
	}


}


section#risk-assessment {
	background: $purple;
	padding: 50px 25px;
	color: $white;

	@include tablet-portrait {
		padding: 100px 50px;
	}

	.wrapper {
		max-width: 1100px;

		@include tablet-landscape {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.info {
				max-width: 660px;
				padding: 0;
			}

			.cta {

			}
		}
	}

	.info {
		padding: 0 0 25px 0;

		h3 {
			font-weight: 100;
			font-size: 1.5em;
			padding: 0 0 10px 0;

			@include tablet-portrait {
				font-size: 2.25em;
				padding: 0 0 25px 0;
			}

			@include desktop {
				font-size: 3em;
			}
		}

		p {
			font-size: 1.25em;
			line-height: 1.25em;

			@include tablet-portrait {
				font-size: 1.75em;
			}
		}
	}


	.cta {
		.btn {
			color: $white;
			border-color: $white;

			&:hover {
				background: $white;
				color: $purple;
			}
		}
	}
}