html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $averta;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $averta;
	font-weight: normal;
}

p {

}

a {
	color: $goldenrod;
	transition: all 0.2s ease-in-out;
}
.btn {
	color: $goldenrod;
	padding: 20px 30px 18px;
	font-size: 0.8125em;
	line-height: 1em;
	font-weight: 400;
	border: 2px solid $goldenrod;
	border-radius: 3em;
	display: inline-block;
	white-space: nowrap;

	@include tablet-portrait {
		padding: 30px 40px 28px;
		font-size: 1.125em;
	}


	&:hover {
		background: $goldenrod;
		color: $white;
	}
}

.underline {
	font-family: $averta;
	font-weight: 600;
	text-transform: uppercase;
	color: $goldenrod;
	border-bottom: 2px solid;
	letter-spacing: 0.05em;
}